html {
  overflow: hidden;
}

/* 스크롤바 스타일링 */
::-webkit-scrollbar {
  width: 12px; /* 스크롤바 너비 조정 */
}

/* 수직 스크롤바 */
::-webkit-scrollbar-track {
  background-color: #888; /* 스크롤바 트랙 배경색 */
  border: 1px solid #ccc; /* 수직 스크롤바 테두리 */
  border-radius: 15px; /* 스크롤바 트랙 곡률 */
}

::-webkit-scrollbar-thumb {
  background-color: #f1f1f1; /* 스크롤바 색상 */
  border: 1px solid #999; /* 스크롤바 테두리 */
  border-radius: 15px; /* 스크롤바 곡률 */
}

/* v-btn vuetify 라이브러리 버튼 영문 대문자화 되는거 방지 */
.v-btn {
  text-transform: none;
}